@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

// Set your brand colors
$dark-grey: #636363;
// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $dark-grey;
$body-family: "Noto Sans", sans-serif;

@import "~bulma/bulma";
